* {
    pointer-events: all;
}

#gui {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 93vh;
    z-index: 200;
}

#wrapper_b {
    position: fixed;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

#debug_canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 80vmin;
    height: 80vmin;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #ffffff;
}

#debug_canvas > * {
    height: 80vmin;
    width: 80vmin;
    position: absolute;
}