canvas{
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
#canvas{
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
#wrapper_b{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    z-index: 1;
}

body{
    overflow: hidden;
}

#death_screen{
    position: fixed;
    bottom: 50%;
    left: 0px;
    width: 100%;
    font-size: 50px;
    color: #ffffff;
    display: none;
}

#health{
    position: fixed;
    bottom: 30px;
    left: 0;

    width: 100vw;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);

    border-radius: 10px;
}

#health > .bar{
    width: 100%;
    height: 1px;
    background-color: #151515;
}

#health > .bar > .fill{
    height: 1px;
    background-color: #ffffff;
}

#health > .num{
    color: #ffffff;
    font-size: 14px;
}

#health > .bul{
    color: #ffffff;
    font-size: 14px;
}

#gui{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 999;
    display: none;

    pointer-events: none;
}

#controls{
    position: fixed;
    bottom: 15px;
    right: 10px;
    opacity: 0;
    z-index: 99999;
}

#controls > img{
    width: 15vw;
    height: auto;
}