#chat_modal{
    position: fixed;
    z-index: 98;
    bottom: 5vh;
    right: 0;

    height: 50vh;
    width: 30%;
    min-width: 200px;

    overflow: hidden;

    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0);
    padding-left: 4px;
}

#chat_input{
    margin-top: auto;
    height: 2em;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid #efefef;
    border-width: 0 0 1px 0;
    color: #dddddd;
    z-index: 9999;
    pointer-events: all;
}

#chat_input:hover{
    background-color: #151515;
}

#chat_input:focus{
    background-color: #444444;
    color: #efefef;
    outline: none;
}

#messages{
    height: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    text-align: right;
}

.underlined{
	color: #efefef;
	overflow-wrap: break-word;
	padding: 3px 0px 3px 0px;
	border-bottom: 1px solid #333333;
    font-size: 12px;
}

.chat_name{
    color: #dddddd;
	font-size: 12px;
}

.no_overflow{
    overflow: hidden;
    text-overflow: ellipsis;
}