body {
    background: #1e1e1e;
}

#wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: -webkit-radial-gradient(rgba(52, 60, 76, 0.8), rgba(31, 36, 46, 0.8));
    display: flex;
}

#wrapper > * {
    display: inline-block;
}

#editor {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

#options {
    height: 5vh;
    background: rgba(50, 50, 50, 0.5);
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

#options > * {
    height: 5vh;
}

#options > img, button {
    width: 3vmin;
    height: 3vmin;
    margin: auto 2vmin;
}

#options > select {
    width: 200px;
}

#edit {
    border: none;
}

#edit_box {
    display: flex;
    border-top: 1px solid #666666;
}

#edit > p {
    display: inline-block;
}

#line_counter {
    height: 100vh;
    width: 2rem;
    background: rgba(0, 0, 0, 0.1);
    text-align: right;
    color: #666666;
    display: block;
    font-family: Consolas, monaco, monospace;
    overflow: hidden;
}

#line_counter > p {
    line-height: 2em;
    font-size: 14px;
}

#edit {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    color: #efefef;
    outline: none !important;
    padding-left: 15px;
}

#explorer {
    width: 20%;
    background: rgba(120, 120, 120, 0.5);
}

#font_size > p {
    color: #efefef;
    font-family: Consolas, monaco, monospace;
    line-height: 5vh;
    font-size: 2vmin;
}

#font_size > * {
    display: inline-block;
    vertical-align: top;
    height: 5vh;
}

#author > input {
    border: none;
    outline: none;
    height: 100%;
    background: #000000;
    color: #efefef;
    padding-left: 5px;
}

#author > input:active {
    outline: none;
}

#footer ul li {
    height: 4vh;
    line-height: 4vh;
    font-size: 2.5vmin;
}

#footer ul img {
    height: 4vh;
}

.collapsable {
    background: #000000;
}

.v_line {
    height: 100%;
    border-left: 1px solid #666666;
    width: 1px;
}