
@keyframes glitch-anim-1 {
  0% {
    clip: rect(13vmin, 25vmin, 17vmin, 0);
  }
  6.66667% {
    clip: rect(23vmin, 25vmin, 24vmin, 0);
  }
  13.33333% {
    clip: rect(20vmin, 25vmin, 19vmin, 0);
  }
  20% {
    clip: rect(4vmin, 25vmin, 13vmin, 0);
  }
  26.66667% {
    clip: rect(20vmin, 25vmin, 20vmin, 0);
  }
  33.33333% {
    clip: rect(15vmin, 25vmin, 19vmin, 0);
  }
  40% {
    clip: rect(4vmin, 25vmin, 25vmin, 0);
  }
  46.66667% {
    clip: rect(8vmin, 25vmin, 6vmin, 0);
  }
  53.33333% {
    clip: rect(4vmin, 25vmin, 20vmin, 0);
  }
  60% {
    clip: rect(20vmin, 25vmin, 10vmin, 0);
  }
  66.66667% {
    clip: rect(10vmin, 25vmin, 7vmin, 0);
  }
  73.33333% {
    clip: rect(5vmin, 25vmin, 18vmin, 0);
  }
  80% {
    clip: rect(11vmin, 25vmin, 2vmin, 0);
  }
  86.66667% {
    clip: rect(22vmin, 25vmin, 23vmin, 0);
  }
  93.33333% {
    clip: rect(3vmin, 25vmin, 12vmin, 0);
  }
  100% {
    clip: rect(7vmin, 25vmin, 3vmin, 0);
  }
}
@keyframes glitch-anim-2 {
  0% {
    clip: rect(2vmin, 25vmin, 19vmin, 0);
  }
  6.66667% {
    clip: rect(10vmin, 25vmin, 1vmin, 0);
  }
  13.33333% {
    clip: rect(15vmin, 25vmin, 3vmin, 0);
  }
  20% {
    clip: rect(10vmin, 25vmin, 6vmin, 0);
  }
  26.66667% {
    clip: rect(17vmin, 25vmin, 14vmin, 0);
  }
  33.33333% {
    clip: rect(12vmin, 25vmin, 10vmin, 0);
  }
  40% {
    clip: rect(14vmin, 25vmin, 15vmin, 0);
  }
  46.66667% {
    clip: rect(2vmin, 25vmin, 20vmin, 0);
  }
  53.33333% {
    clip: rect(17vmin, 25vmin, 22vmin, 0);
  }
  60% {
    clip: rect(21vmin, 25vmin, 19vmin, 0);
  }
  66.66667% {
    clip: rect(22vmin, 25vmin, 6vmin, 0);
  }
  73.33333% {
    clip: rect(19vmin, 25vmin, 22vmin, 0);
  }
  80% {
    clip: rect(18vmin, 25vmin, 20vmin, 0);
  }
  86.66667% {
    clip: rect(14vmin, 25vmin, 3vmin, 0);
  }
  93.33333% {
    clip: rect(7vmin, 25vmin, 18vmin, 0);
  }
  100% {
    clip: rect(1vmin, 25vmin, 20vmin, 0);
  }
}

.glitch > img {
  position: absolute;
  width: 25vmin;
  height: 25vmin;
}
.glitch > img:nth-child(2),
.glitch > img:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch > img:nth-child(2) {
  left: 12vmin;
  animation: glitch-anim-1 2s infinite linear alternate-reverse;
}
.glitch > img:nth-child(3) {
  left: 13vmin;
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
