@font-face {
	font-family: Aileron;
	src: url(/res/fonts/Aileron-Thin.otf);
}

@font-face {
	font-family: Trench;
	src: url(/res/fonts/Trench.ttf);
}

#loading{
	background: radial-gradient(#222222, #000000);
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 9001;
	pointer-events: none;
}

a {
	text-decoration: none;
}

html {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.45;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#background {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	overflow: hidden;
	position: relative;
	height: 100vh;
}

html, body {
	overflow-x: hidden;
}

.section {
	position: relative;
	width: 100vw;
	height: 93vh;
	overflow: hidden;
	display: inline-block;
	color: #ffffff
}

#wrapper {
	z-index: 5;
	background: radial-gradient(rgba(200, 200, 200, 0.2), rgba(0, 0, 0, 0.7));
	margin: 0px;
	padding: 0px;
	height: 100vh;
	width: 300vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	white-space: nowrap;
	position: absolute;
	overflow: hidden;
	overflow-x: visible;
}

#canvas {
	z-index: 0;
}

#ftn {
	overflow: hidden;
}

.contact{
	position: relative;
}

.center_container {
	height: 90vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.center_container img {
	margin: 0;
	width: 50vmin;
	transition: 1s;
}

.front {
	z-index: 10;
}

.center {
	text-align: center;
}

.title {
	font-size: 9vmin;
	font-family: Aileron;
	/*background: radial-gradient(rgba(200, 200, 200, 1), rgba(90, 90, 90, 1));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;*/
}

.subtitle {
	font-size: 7vmin;
	font-family: Aileron;
}

.stretched {
	height: 100%;
	width: auto;
	max-height: 700px;
	max-width: 700px;
}

#ftn {
	width: 100vw;
	overflow: hidden;
	height: 93vh;
	z-index: 99;
	position: absolute;
}

#footer {
	z-index: 101;
	position: fixed;
	bottom: 0px;
}

#footer ul {
	margin: 0px;
	width: 100vw;
	text-align: center;
	font-size: 0px;
	background: rgba(0, 0, 0, 0.7);
	border-top: 1px solid rgba(200, 200, 200, 0.2);
}

#footer ul li {
	display: inline-block;
	padding: 0px 1vw 0px 1vw;
	opacity: 0.8;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 3.5vmin;
	font-weight: 400;
	color: #555555;
	line-height: 7vh;
	height: 7vh;
	-webkit-user-select: none;
	user-select: none;
}

#footer ul li a {
	text-decoration: none !important;
	color: #555555 !important;
	-webkit-user-select: none;
	user-select: none;
}

#footer ul *:hover {
	opacity: 1;
	background-color: #000000;
	cursor: pointer;
}

#footer ul img {
	float: right;
	height: 7vh;
}

#ph_img {
	width: 3vmin;
	height: 3vmin;
	position: fixed;
	right: 0;
	bottom: 7vh;
	z-index: 10;
}

#ph {
	height: 3vmin;
	line-height: 3vmin;
	width: 200px;
}

#ph > p {
	color: #ffffff;
	height: 3vmin;
	font-size: 3vmin;
}

.right {
	position: relative;
	right: 0;
	top: 0;
}

#artwork {
	display: flex;
	flex-direction: column;
	background-color: rgba(20, 20, 20, 0.8);
	border-left: 1px solid #000000;
	width: 34vmin;
	float: right;
	height: 100vh;
	overflow-y: scroll;
}

#artwork img {
	width: 30vmin;
	padding: 2vmin;
	border-bottom: 1px solid #555555;
}

#artwork::-webkit-scrollbar {
	background: #222222;
}

#artwork::-webkit-scrollbar-button {
	display: none;
}

#artwork::-webkit-scrollbar-thumb {
	background: #555555;
}

#artwork::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}