.section {
    padding: 20px;
}

.code {
    font-size: 12px;
    color: #aaaaaa;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
    margin: auto;
}

.sticker {
    width: 50vmin;
}

.st_content p {
    width: 80%;
}

.cimg {
    width: 100%;
    padding: 0;
    margin: 0 !important;
    height: 30vmin;
    justify-content: center !important;
}

.cimg > img {
    width: 15vmin !important;
    padding: 0;
    margin: 0;
    height: 15vmin !important;
}