#login_modal{
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: radial-gradient(rgba(128, 128, 128, 0.5), rgba(0, 0, 0, 0.5));
}

#login_content{
    position: relative;
    width: 50%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    height: 40vmin;
    margin: 15vmin auto auto auto;
    padding: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    pointer-events: all;
}

.reg{
    text-align: right;
    font-size: 10px;
    color: #aaaaaa;
}

#login_fields{
    overflow: hidden;    
    transition: 1s;
    margin: 10px; 
    padding-left: 3vmin;   
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#login_fields > div{
    overflow: hidden;
}

#login_fields > div > input{
    width: 75%;
    background-color: rgba(128, 128, 128, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin: 5px;
    color: #efefef;
    padding: 15px;
    
}

#login_fields > div > input:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

#login_fields > div > input:focus{
    outline: none;
}

#login_submit{
    background: rgba(32,32, 32, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 6vmin;
    width: 20vmin;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 6vmin;
    font-family: 'Roboto';
    color: #ffffff;

}

#login_submit:hover{
    background: rgba(255, 255, 255, 0.2);
}

#login_submit:active{
    background: rgba(255, 255, 255, 0.4);
}

#login_logo{
    position: absolute;
    right: 0;
    height: 40vmin;
    z-index: 1;
}

.underlined{
	color: #efefef;
	overflow-wrap: break-word;
	padding: 3px 0px 3px 0px;
	border-bottom: 1px solid #ffffff;
}