#roomlist_modal {
    position: fixed;
    left: 25%;
    top: 10%;
    z-index: 99;
    width: 50vw;
    height: 80vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

#rooms {
    display: flex;
    flex-direction: column;
}

#rooms > div:hover {
    background-color: #444444 !important;
}

.room {
    display: flex;
    flex-direction: row;
    pointer-events: all;
}

.room > div{
    width: 100%;
}

.room_col_l{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.room_col_r > *{
    text-align: right;
}

#join_d {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    margin-top: auto;
}

#create_d {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #444444;
    font-size: 0px;
}

button {
    display: inline-block;
    height: 60px;
    margin: 2px;
    border: 0;
    width: 100%;
    color: #efefef;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0,0,0,0.3);
    outline-color: #101010;
    pointer-events: all;
}

button:hover {
    background-color: #090909;
}

#error {
    transition-duration: 1s;
    transition-property: heigth;
    overflow: hidden;
    max-height: 100px;
}

.rl_input {
    width: 100%;
    height: 2em;
    border-radius: 1em;
    background-color: #101010;
    border: 1px solid #444444;
    pointer-events: all;
    color: #efefef;
}

.rl_input:hover {
    background-color: #151515;
}

.rl_input:focus {
    background-color: #444444;
    outline: none;
}
