@font-face {
    font-family: Trench;
    src: url(/res/fonts/Trench.ttf);
}

.stickers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vmin;
    margin: 20vmin 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sticker {
    width: 30vmin;
    height: 50vmin;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0 5vmin 0 5vmin;
    color: #efefef;
}

.st_head {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(200, 200, 200, 0.2);
    height: 50px;
    font-size: 2.5vmin;
    font-family: Trench;
    padding: 5px;
}

.st_head > p {
    display: block;
    padding: 16px;
    white-space: normal;
    width: 25vmin;
    text-decoration: none !important;
}

.st_content > p {
    display: block;
    padding: 16px;
    white-space: normal;
    width: 25vmin;
    text-decoration: none !important;
}

.st_content {
    background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(120, 120, 120, 0.5));
    border: 1px solid rgba(200, 200, 200, 0.2);
    font-size: 1.8vmin;
    line-height: 2.3vmin;
    height: 40vmin;
}

.st_content > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
    height: auto;
}

.st_content > div > * {
    display: inline-block;
}

.st_content > div > img {
    height: 5vmin;
    width: 10vmin;
}

.st_content > div > span {
    height: 5vmin;
    line-height: 5vmin;
}

.st_content > div > div {
    display: flex;
    flex-direction: column;
}

.st_content > div span {
    padding-left: 2vmin;
}

.st_content > div > div > span {
    line-height: 3vmin;
}

.down {
    margin-top: 10vmin;
}

.slim {
    width: 80vw;
}

@media (max-width: 1350px) {
    .slim .sticker {
        margin: 3px;
    }
}

@media (max-width: 1200px) {
    .slim {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: auto;
        padding: 2vh;
        margin: 0 auto;
        height: 89vh;
        width: 60vw;
    }
    .slim .down {
        margin-top: 0px;
    }
    .slim .sticker {
        width: 50vmin;
    }
}

@media (max-width: 1100px) {
    .sticker {
        margin: 3px;
    }
}

@media (max-width: 680px) {
    .stickers {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10vmin 5vmin;
        height: 75vh;
        width: 90vw;
        overflow: auto;
        align-items: center;
    }
    .slim {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2vh;
        margin: 0 auto;
        height: 93vh;
        width: 60vw;
    }
    .sticker {
        width: 80vmin;
        height: auto;
    }
    .st_content {
        height: auto;
    }
    .st_content p, .st_content span {
        font-size: 14px;
        line-height: 14px;
    }
    .sticker p, .sticker span {
        font-size: 12px;
        line-height: 12px;
    }
    .stickers .down {
        margin-top: 0px;
    }
}