.no_space {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
}

.collapsable {
    overflow: hidden;
    transition: 0.4s;
    font-size: 0;
}

.collapsable > p {
    padding: 0 5px;
}

.collapsed {
    width: 0;
}